# Supabase
SUPABASE_URL=https://zpqejhqkrtscgiltzqmk.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpwcWVqaHFrcnRzY2dpbHR6cW1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2MzI3MjksImV4cCI6MjA5NzIwODcyOX0.oNMpOHpqK6FC8PADy1VMCwEP5Jd_XeS49n7ZS_LS87A

# Dispara.ai
DISPARA_WEBHOOK_URL="https://link.dispara.ai/w/3eae1685-fbfa-4dc0-b945-b0471a405161"
DISPARA_API_TOKEN=

MAX_CONTACTS=3
